# create subsets of fonts for my website
on:
  workflow_dispatch:
  schedule:
    - cron: '0 6 * * * '

name: fonts

jobs:
  enable:
    runs-on: ubuntu-latest

    name: Create fonts

    steps:
      - uses: actions/checkout@HEAD

      - name: Checkout yihui.org
        uses: actions/checkout@HEAD
        with:
          path: yihui.org
          repository: yihui/yihui.org
          submodules: recursive

      - name: Install packages
        run: |
          sudo apt-get -qq install -y fonttools > /dev/null

      - name: Extract characters
        run: |
          mkdir -p fonts
          find yihui.org -name '*.md' -exec grep -o -P '[\x{4E00}-\x{9FFF}\x{2000}-\x{206F}\x{3000}-\x{303F}\x{FF00}-\x{FFEF}]' {} \; | sort | uniq > fonts/chars.txt

      - name: Build fonts
        run: |
          export FONT_NAME=SourceHanSerifCN-Regular
          wget -nv https://github.com/adobe-fonts/source-han-serif/raw/release/SubsetOTF/CN/${FONT_NAME}.otf
          pyftsubset ${FONT_NAME}.otf --text-file=fonts/chars.txt --no-hinting --flavor=woff2 --output-file=fonts/${FONT_NAME}-yihui.woff2
          export FONT_NAME=FandolKai-Regular
          wget -nv https://mirrors.tuna.tsinghua.edu.cn/CTAN/fonts/fandol/${FONT_NAME}.otf
          pyftsubset ${FONT_NAME}.otf --text-file=fonts/chars.txt --no-hinting --flavor=woff2 --output-file=fonts/${FONT_NAME}-yihui.woff2
          export FONT_NAME=AR-PL-KaitiM-GB
          wget -nv https://db.onlinewebfonts.com/t/157c7e79f7f057bbeacf5f113b964875.woff2 -O ${FONT_NAME}.woff2
          pyftsubset ${FONT_NAME}.woff2 --text-file=fonts/chars.txt --no-hinting --flavor=woff2 --output-file=fonts/${FONT_NAME}-yihui.woff2
          export FONT_NAME=gkai00mp
          wget -nv https://mirrors.tuna.tsinghua.edu.cn/CTAN/fonts/arphic-ttf/${FONT_NAME}.ttf -O ${FONT_NAME}.ttf
          pyftsubset ${FONT_NAME}.ttf --text-file=fonts/chars.txt --no-hinting --flavor=woff2 --output-file=fonts/${FONT_NAME}-yihui.woff2
          export FONT_NAME=bkai00mp
          wget -nv https://mirrors.tuna.tsinghua.edu.cn/CTAN/fonts/arphic-ttf/${FONT_NAME}.ttf -O ${FONT_NAME}.ttf
          pyftsubset ${FONT_NAME}.ttf --text-file=fonts/chars.txt --no-hinting --flavor=woff2 --output-file=fonts/${FONT_NAME}-yihui.woff2
          
      - name: Push fonts
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add fonts/*
          git tag v$(date +%Y.%m.%d) || true
          git commit -m "update fonts" || true
          git push origin --tags || true
